<h2>Artists</h2>
@Html.ActionLink("Add an Artist", "CreateArtist")
<table>
        <tr>
            <th>
                Artists Name
            </th>
            <th>
                Birth Date
            </th>
            <th>
                Birth City
            </th>
        </tr>
    @foreach (var artist in Model.Artists)
    {
        <tr>
            <td>
                @artist.Name
            </td>
            <td>
                @artist.BirthDate
            </td>
            <td>
                @artist.BirthCity
            </td>
            <td>
                @Html.ActionLink("Details", "ArtistDetails", new { ID = artist.ID}, null)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditArtist", new { ID = artist.ID }, null)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteArtist", new { ID = artist.ID }, null)
            </td>
        </tr>
    }
</table>

